*{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
body{
    height:100vh;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Infopage{
    display: flex;
    color: #F1F1F1;
    flex-direction: column;
    justify-content: center;
    height:fit-content;
    width:80vh;
    background-color: #eaecef;
    margin: 20px;
    border-radius: 1rem;
    padding:1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4)
}

input {
    background-color: #f9f9f9;
    border: none;
    padding: clamp(8px,1vw,12px);
    color: rgb(0, 0, 0);
    font-size:clamp(.75rem,1px,1rem);
    border-radius: 10px;
    margin-bottom: 1rem;
    outline: none;

}
input::placeholder {
    color: black;
}

#registered {
    height: 2.5rem;
    width: 100%;
    background-color: #34A853;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
#registered:hover {
    background-color: #2C8A46;
}
a{
    color: royalblue;
    font-weight: 300;
}
p{
    display: flex; 
    justify-content: center; 
    color: rgb(50, 50, 50);
    font-size:.75rem ;
}