html,body{
    margin:0;
    height:100vh;
    width:100vw;
    background-color:rgb(76, 71, 63) ;
}

header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 2.5%;
    height: 50px;
    border-radius: 10px;
    background-color: aliceblue;
}
#menu{
    height: fit-content;
    width: 25%;
    padding: 2px;
    margin: 2px;

}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 50%;
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 100px;
}
#bar{
    height: 80%;
    width: 90%;
    border: none;
    outline: none;
    margin: 0 10px;
}
.signup-login{
    display: flex;
    justify-content: end;
    height: fit-content;
    width: 25%;
    padding: 2px;
    margin: 2px;
    
}
.signup-login input{
    font-size: 120%;
    border: none;
    margin: 10%;
    border-radius: 10px;
    background-color: 	#D2B48C;
    border: 1px solid black;
}
#menu i {
    margin-left:10%;
    color: royalblue;
    font-size: 2em;
}
.Carpentery-content{
    /* position: relative; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    height:fit-content;
    width: 95%;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 60px;
    margin: 2.5%;
}
.news
{
    color: black;
    text-align:left;
    padding: .5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 4%;
    background-color: white;
    height: 10rem;
    width: 90%;
    border-radius: 10px;
    overflow: auto;
}
::-webkit-scrollbar {

    width: 0;
  }
  .news::-webkit-scrollbar-track{
    border-radius: 50px;
}