html,body{
    margin:0;
    height:100vh;
    width:100vw;
    background-color:rgb(76, 71, 63) ;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

header{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 2.5%;
    height: 50px;
    border-radius: 10px;
    background-color: aliceblue;
}
#menu{
    height: fit-content;
    width: 25%;
    padding: 2px;
    margin: 2px;

}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 50vw;
    padding: 2px;
    margin: 2px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 100px;
}
#bar{
    height: 80%;
    width: 90%;
    border: none;
    outline: none;
    margin: 0 10px;
}
.signup-login{
    display: flex;
    flex: 1 1 0%;
    justify-content: end;
    height: fit-content;
    font-size: .5rem;
    /* padding: 2px; */
    margin-right: 10px;
}
.signup-login button{
    font-size: 1rem;
    border: none;
    margin: .5em;
    width: min-content;
    border-radius: 10px;
    background-color:royalblue;
    border: 1px solid black;
}
#menu i {
    margin-left:10%;
    color: royalblue;
    font-size: 2em;
}
.Carpentery-content{
    /* position: relative; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    height:fit-content;
    width: 95%;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 60px;
    margin: 2.5%;
}
.news
{
    color: black;
    text-align:left;
    padding: .5rem;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 4%;
    background-color: white;
    height: fit-content;
    width: 90%;
    border-radius: 10px;
    font-size:3vh;
    overflow: auto;

}
::-webkit-scrollbar {

    width: 0;
  }
  .news::-webkit-scrollbar-track{
    border-radius: 50px;
}