<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Own Carpenter</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
</head>
<body>
    <header class="Navigation-bar">
        <div id="menu">
            <input type="checkbox" id="menucheck"  style="display: none;">
            <label for="menucheck"><i class="fa-solid fa-bars" ></i></label>
            <div class="side-menu">
                <div class="side-close"><label for="menucheck"><i id="icon" class="fa-solid fa-xmark"></i></label></i></div>
                <button href="#" id="profile">Profile</button>
               <button href="#" id="special">Todays special</button>
                <button href="#" id="logout">Logout</button>
            </div>
        </div>
        <div class="searchbar">
            <i class="fa-solid fa-magnifying-glass" style="color: royalblue;"></i>
            <input type="search" id="bar" placeholder="Search your Carpenter">

        </div>
        <div class="signup-login">Hello,there</div>

    </header>
    <main class="Carpentery-content" >
        <div  class="news"id="work0">
        </div>
    </main>
    <script src="../app.js"></script>
</body>
</html>