<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="/profilelook.css">
    </head>
    <body>
        <div class="container">
            <h1>Hey welcome back </h1>
            <h2>Gautam</h2>
            <div class="username">
                <h3>Your User name:Gautam</h3>
                <button id="edit">Edit</button>
            </div>
            <form action="/" id="edit-inputs">
            <input type="text"  id="reset-username" placeholder="Enter your username">
            <input type="password" id="reset-password" placeholder="Enter your Password">
            <button type="submit" id="reset-user-submit">Submit</button>
            </form>
            <script>
                let pass=document.getElementById('edit-inputs');
                pass.style.display='none';
               document.getElementById('edit').addEventListener('click',(a)=>{
                a.preventDefault();
                pass.style.display=pass.style.display==='none'?'flex':'none';
               });
               document.getElementById('reset-user-submit').addEventListener('click',()=>{
                pass.style.display='none';
               });
            </script>
            <div class="change-password">
                <h3>Change your Password</h3>
                <button id="change">Change Password</button>
            </div>
            <form action="/" id="edit-pass">
                <input type="text"  id="old-password" placeholder="Enter your old-password">
                <input type="password" id="new-password" placeholder="Enter new-password ">
                <input type="password" id="old-password" placeholder="Enter your old-password">
                <button type="submit" id="reset-pass-submit">Submit</button>
            </form>
            <script>
                let display=document.getElementById('edit-pass');
                display.style.display='none';
               document.getElementById('change').addEventListener('click',(e)=>{
                e.preventDefault();
                display.style.display=display.style.display==='none'?'flex':'none';
               });
               document.getElementById('reset-pass-submit').addEventListener('click',()=>{
                display.style.display='none';
               });
            </script>
        </div>
    </body>
</html>