<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/signupstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <form action="/register/registered" method="post" class="Infopage">
        <h2 style="padding-bottom: 1rem;">Create Account</h2>
        <input type="text" id="Full-Name" placeholder="Enter your name">
        <input type="email" id="email" placeholder="Enter Your Email">
        <input type="password" id="Password" placeholder="Create password" autocomplete="new-password">
        <input type="password" id="Confirm-Password" placeholder="Confirm password" autocomplete="new-password">
        <button id="submit" name="registered"type="submit" >Create Account</button>
        <p>Already have an Account?<a href="http://localhost:3000/register/login" id="login" style="text-decoration: none;">log in</a></p>
    </form>
</body>
</html>