<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>What's Special today?!</title>
    </head>
    <body>
        <header>
            <button>Home</button>
            <h1>Today's Special</h1>
            <button></button>
        </header>
    </body>
</html>